.rolling-bar{
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    
    &__upper-bar{
        position: relative;
        width: 99.7%;
        height: 50px;
        border-radius: 100px/100px;
        margin-left: auto;
        margin-right: auto;
        background-color: $azureColor;
        text-align: center;
        color: $mainBlue;
        top: -10px;
        background-image: radial-gradient(orange,yellow,green,indigo,violet);
        & a{
            text-decoration: none;  
        }
    }
    &__lower-bar{
        position: relative;
        width: 99.9%;
        height: 50px;
        border-radius: 100px/100px;
        margin-left: auto;
        margin-right: auto;
        background-color: $azureColor;
        text-align: center;
        color: $mainBlue;
        background-image: radial-gradient(orange,yellow,green,indigo,violet);
        top: -100px;
        z-index: 1;
    }
    
    &__menu-content{
        position: relative;
        width: 87%;
        height: 0px;
        margin-left: auto;
        margin-right: auto;
        top: -22px;
        background-color: indigo;
        transition: height 1s linear 1s;
        z-index: 1;
        overflow: hidden;
        padding-left: 4px;
        padding-right: 4px;
        
    }
    
    
    &__upper-bar:hover &__menu-content {
        height: 378px;
    }
    
    
    &__lower-bar-right-head-hole{
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: $mainGrey;
        border-radius: 50%;
        top: 5px;
        left: 3px;
    }
    
    &__upper-bar-title{
        position: relative;
        font-size: 2rem;
        font-weight: bolder;
        top: 5px;
        text-shadow: 2px 2px red;
    }
    
    &__lower-bar-title{
        position: relative;
        top: 9px;
        font-size: 2rem;
        font-weight: bolder;
        text-shadow: 2px 2px red;
    }
    
    &__menu-content a{
        position: relative;
        text-decoration: none;
        background-color: green;
        color: $azureColor;
        padding: 5.5px 0px;
        margin-top: 3px;
        font-size: 1.5rem;
        font-weight: bolder;
        display: block;
    }
    &__menu-content a:hover{
        background-color: yellow;
        color: $mainBlue;
    }
    
    
}